<%= content_tag(:h1, I18n.t('pages.contact.header')) %>
<p>
  <%= I18n.t('pages.contact.text') %>
  <%= link_to("Guillermo Guerrero", 
              "mailto:g.guerrero.bus@gmail.com",
              target: "_blank") %>.
</p>